<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="greetBean" class="com.ds.Greet"  init-method="afterInit" destroy-method="beforeDestroy" ></bean>
	
	<bean class="com.ds.beanProcessor.DemoBeanPostProcessor"></bean>


</beans>